body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

 h2{
  text-align: center;
  position: relative;
  left: 150px;
  top: -80px;
}

.selectedWorkout p{
  position: relative;
  left: 350px;
}

.nav h1 {
  color: lightblue;
  position: relative;
  top: 10px;
  left: 50px;
}

.userinfo{
  position: relative;
  top: 25px;
  left: 60px;
}

.workoutDropDown {
  position: relative !important;
  left: -300px !important;
  top: -350px !important;
}


.Pie {
  float: left;
  position: relative;
  top: -100px;
  left: 250px;
}

.Pie h6 {
  text-align: center;
  position: relative;
}

.Bar {
  float: right;
  position: relative;
  left: -410px;
  top: -110px;
  
}

.Bar h6 {
  text-align: center;
  position: relative;
}

.Line {
  float: right;
  position: relative;
  left: -100px;
  top: 260px;
  
}

.Line h6 {
  text-align: center;
  position: relative;
}

.Bar2 {
  float: right;
  position: relative;
  left: -290px;
  top: 260px;
  
}

.Bar2 h6 {
  text-align: center;
  position: relative;
} 

 .Home {
  position: relative;
  top: -50px;
  left: 320px;
}

div.btn-group {
  position: relative;
  left: 870px;
  top: 50px;
}

.workoutButton {
  position: relative;
  left: -200px;
  top: -20px;
}

.stepsTakenButton {
  position: relative;
  left: -190px;
  top: -20px;
}

.fullWeekButton{
  position: relative;
  left: 720px;
  top: -240px;
}


.foodSearch {
  position: relative;
  left:730px;
  top: 23px;
}

/* .calories {
  position: relative;
  top: 75px;
}

.macronutrients {
  position: relative;
  top: 75px;
} */




